#showAnswersButton1{

    display: none;

}

#showAnswersButton2{

    display: none;

}

#showAnswersButton3{

    display: none;

}

#spanLabel1{

    display: none;

}

#spanLabel2{

    display: none;

}

#spanLabel3{

    display: none;

}

#spanLabel4{

    display: none;

}

 